/* TODO: DEDUPE THIS. ITS IN PaletteFromImage.module.css too */
.exportModalContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40rem;
}

.exportButtonsContainer {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.codeForExport {
  width: 100%;
}
.codeForExport > pre {
  background: #46494c;
  color: #00f5d4;
  padding: 1rem;
  border-radius: 0.5rem;
}
.codeForExport > pre > code {
  font-size: 1.6rem;
}

.exportButtonContainer {
  display: flex;
  justify-content: space-between;
}
