.overwriteButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 1rem;
  gap: 1rem;
}
.contentContainer {
  padding: 1rem 0;
}
.contentContainer > p > span {
  font-weight: 600;
}
