.bigButton {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  background: #6b6b6b;
  padding: 1rem;
}
.bigButton:hover {
  background: #7a7a7a;
  box-shadow: 0 0 0 0.2rem black;
}
.bigButton:last-of-type {
  margin-right: 0;
}
.bigButtonIcon {
  width: 6rem;
  height: 6rem;
  margin: 1rem 0;
}
.bigButtonLabel {
  width: 8rem;
}
