/* -= ALL SWATCHES CONTAINER =- */
.swatchListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.swatchListItemContainer {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  box-sizing: border-box;
  min-height: 30%;
  padding: 1rem 2rem 3rem 2rem;
}

.swatchTitleContainer {
  display: flex;
}
.swatchName {
  flex: 1 1 auto;
}
.swatchLink {
  flex: 0 0 3rem;
  height: 3rem;
  width: 3rem;
  align-self: center;
}

/* -= INDIVIDUAL ITEM =- */
.swatchesContainer {
  order: 0;
  flex: 1 1 0px;
  align-self: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.swatch {
  order: 0;
  flex: 1 1 0;
  align-self: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.closerToWhite {
  color: black;
}
.closerToBlack {
  color: white;
}

.colourHex {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem;
}

.humanReadableName {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

/* FOOTER */
footer {
  display: flex;
  background: black;
  padding: 2rem;
}
footer > div {
  flex: 1 1 0px;
}

.leftCell {
  display: flex;
  align-items: center;
}
.leftCell > a > svg {
  height: 10rem;
}
.centerCell {
}
.rightCell {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  color: white;
}
.rightCell > p {
  /* "A fun project by" */
  font-size: 1.2rem;
}
.rightCell > a {
  text-decoration: none;
}
.rightCell > a:hover {
  text-decoration: underline;
  text-decoration-color: var(--anthony-cregan-lobster-red);
}
.rightCell > a > .acLogoContainer {
  display: flex;
  flex-direction: row;
}
.rightCell > a > .acLogoContainer > .acLogoWrapper {
  border-radius: 50%;
  overflow: hidden;
}
.rightCell > a > .acLogoContainer > .acLogoWrapper > svg {
  width: 6rem;
  height: 6rem;
  fill: var(--anthony-cregan-lobster-red);
}
.rightCell > a > .acLogoContainer > p {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.socialLinks {
  margin-top: 1rem;
}
.socialLinks > a > svg {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.socialLinks > a > svg:hover {
  fill: var(--anthony-cregan-lobster-red);
}
