.createContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.swatchNameAndButtonsContainer {
  display: flex;
  align-items: center;
}
.editableSwatchSetLabelInput {
  flex: 1 1 auto;
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.25rem;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  color: black;
  background: white;
  transition:
    background 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}
.editableSwatchSetLabelInput:hover {
  border: 0.2rem solid #dfdfdf;
  border-radius: 0.4rem;
}
.editableSwatchSetLabelInput:focus {
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  outline: none;
}
/* DARK MODE */
.editableSwatchSetLabelInput.darkMode {
  color: white;
  border: 0.2rem solid var(--background_dark);
  background: var(--background_dark);
}
.editableSwatchSetLabelInput.darkMode:hover {
  border: 0.2rem solid #808080;
  border-radius: 0.4rem;
}
.editableSwatchSetLabelInput:focus:hover,
.editableSwatchSetLabelInput:focus {
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  outline: none;
}

.swatchActionButton {
  flex: 0 1 auto;

  height: 4.4rem;
  margin-left: 1rem;

  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  align-items: center;

  background: var(--create-button-background);
  color: white;
  border-radius: 0.4rem;
  border: solid 0.2rem var(--create-button-background_border);
}
.swatchActionButton:hover {
  background: var(--create-button-background_hover);
  border: solid 0.2rem var(--create-button-background);
}
.swatchActionButton:disabled {
  cursor: not-allowed;
}
.swatchActionButton:disabled > svg {
  opacity: 0.3;
}
.swatchActionButton > svg {
  height: 3rem;
  margin-right: 0.5rem;
}
.swatchActionButton > span {
  font-size: 1rem;
}
