.createContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.swatchNameAndButtonsContainer {
  display: flex;
  align-items: center;
}
.editableSwatchSetLabelInput {
  flex: 1 1 auto;
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.25rem;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  border: none;
}
.swatchActionButton {
  flex: 0 1 auto;

  height: 5rem;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}
.swatchActionButton:disabled {
  cursor: not-allowed;
}
.swatchActionButton:disabled > svg {
  opacity: 0.3;
}
.swatchActionButton > svg {
  height: 3rem;
}
.swatchActionButton > span {
  font-size: 1rem;
}
