.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.3rem); */
  z-index: 100;
}

.modalWindow {
  padding: 2rem;
  border-radius: 1rem;
  z-index: 200;
}
.modalWindow.lightMode {
  background: white;
  box-shadow: 0 0 0.5rem inset #a7a7a7;
  border: 0.1rem solid rgb(186, 186, 186);
}
.modalWindow.darkMode {
  background: var(--background_dark);
  box-shadow: 0 0 0.5rem inset #000000;
  border: 0.1rem solid rgb(45, 45, 45);
}

.modalHeader {
  display: flex;
}
.modalHeader > h6 {
  flex: 1 1 auto;
  margin: 0 2rem 1rem 0;
}
/* Close button */
.modalHeader > button {
  flex: 0 1 auto;

  background-color: black;
  border-radius: 50%;
  border: none;

  width: 3rem;
  height: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalHeader > button > svg {
  width: 2rem;
  height: 2rem;
}
