.imagePreview {
  max-width: 500px;
  max-height: 400px;
}

/* TODO: DEDUPE THIS. ITS IN ExportAsModal.module.css too (as .exportXXXX) */
.importModalContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40rem;
}
.importButtonsContainer {
  display: flex;
  width: 100%;
}

/* IMPORT FROM URL */
.importFromURLContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.importFormContainer {
  display: flex;
  flex-direction: column;
}
.importFormContainer > label {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.importFormContainer > input {
  cursor: pointer;
}

.importPreviewContainer {
  position: relative;
  max-width: 40rem;
  max-height: 40rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
}
.darkMode .importPreviewContainer {
  border: 0.1rem solid #242424;
  background: #3d3d3d;
}
.lightMode .importPreviewContainer {
  border: 0.1rem solid #444444;
  background: #d7d7d7;
}
.imagePreview {
  max-width: 39rem;
  max-height: 29rem;
}

.numberOfSwatchesContainer {
  display: flex;
  flex-direction: column;
}
.numberOfSwatchesContainer > label {
  font-size: 1.4rem;
  transform: translateY(1rem);
}
.numberOfSwatchesInputWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.numberOfSwatchesInputWrapper > input {
  flex: 1 1 auto;
}
.numberOfSwatchesInputWrapper > span {
  flex: 0 1 auto;
  font-size: 1.6rem;
  margin: 1rem;
}

.generateButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.generateButton:disabled {
  cursor: not-allowed;
}
.generateButton:disabled > span > svg {
  opacity: 0.2;
}
.generateButtonIcon {
  height: 2rem;
  width: 2rem;
}

.extractedPaletteContainer {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
.extractedPaletteSwatch {
  flex: 1 1 auto;
  /* max-width: 50px; */
  height: 50px;
}

.openInNewTabLink {
  width: 100%;
  text-decoration: none;
}
.openInNewTabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* LOADING SPINNER */
.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.loaderContainer > h6 {
  color: white;
  font-size: 1.8rem;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
