.toastContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}
.toast {
  position: relative;
  background: black;
  color: white;
  font-size: 1.6rem;
  width: auto;
  padding: 1rem 2rem;
  margin-top: 1rem;
  /* transform: translateX(-50%); */
  border-radius: 2rem;
  align-self: center;
}
