.swatch {
  position: relative;

  order: 0;
  flex: 1 1 100px;
  align-self: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.closerToWhite {
  color: black;
}
.closerToBlack {
  color: white;
}

.colourPickerContainer {
  padding: 3rem 3rem 1rem 3rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  z-index: 1000;
  backdrop-filter: blur(1rem);
}
.colourPickerContainer > input {
  font-family: inherit;
  text-align: center;
  width: 6rem;
  align-self: center;
  margin-top: 1rem;
}

.colourHex {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem;
}

.humanReadableName {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

/* DRAG HANDLE */
.dragHandleContainer {
  height: 5rem;
  width: 5rem;
  cursor: grab;
  margin-bottom: 1rem;
}
.closerToWhite .dragHandleContainer > svg {
  fill: black;
}
.closerToBlack .dragHandleContainer > svg {
  fill: white;
}
