.coreLayout_container {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}
.coreLayout_container.darkMode {
}
.coreLayout_container.lightMode {
}

.coreLayout_container > header {
  position: relative;

  min-height: 7.5rem;
  order: 0;
  flex: 0 0 7.5rem;
  align-self: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    45deg,
    var(--header-background-gradient-from),
    var(--header-background-gradient-to)
  );

  border-bottom: 0.1rem solid black;
  padding: 0 1rem;

  transition: background-color 1s ease-in-out;
}

/* -=-=-=-=-= TODO: START HERE AND DO THESE FIRST =-=-=-=-=-*/
/*
    ALSO: Style the dark mode toggle button to be a bit more colourful
    It should transition from dark to bright when toggled
*/
.coreLayout_container.darkMode > header {
  /* background: linear-gradient(
    45deg,
    var(--header-background-gradient-from_dark),
    yellow
  ); */
}
.darkModeBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    45deg,
    var(--header-background-gradient-from_dark),
    yellow
  );
  transition: opacity 0.5s ease-in-out;
}
.coreLayout_container.lightMode > header > .darkModeBackgroundContainer {
  opacity: 0;
}
.coreLayout_container.darkMode > header > .darkModeBackgroundContainer {
  opacity: 1;
}

.coreLayout_container > header > svg {
  height: 4.5rem;
  z-index: 50;
}
.coreLayout_container > main {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  align-items: stretch;

  overflow-y: auto;

  background: white;
  color: black;

  transition:
    background 0.5s ease-in-out,
    color 0.5s ease-in-out;
}
.coreLayout_container.darkMode > main {
  background: var(--background_dark);
  color: var(--color_dark);
}

.headerButtonContainer {
  display: flex;
  flex-direction: row;
  z-index: 50;
}

.headerButton {
  background: var(--heading-button-color);
  color: black;
  border: none;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.headerButton:hover {
  background: var(--heading-button-color_hover);
  box-shadow: 0 0 0 0.3rem black;
}

.buttonIconContainer {
  display: inline-flex;
  width: 1.7rem;
  height: 1.7rem;
}
.buttonTextContainer {
  display: inline-flex;
  height: 2rem;
  margin-left: 0.5rem;
}
