.coreLayout_container {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.coreLayout_container > header {
  min-height: 7.5rem;
  order: 0;
  flex: 0 0 7.5rem;
  align-self: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #005975;
  padding: 0 2rem;
}
.coreLayout_container > header > svg {
  height: 6.5rem;
  filter: drop-shadow(3px 5px 0px rgb(0 0 0 / 0.6));
  /* fill: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 14%,
    rgba(237, 221, 83, 1) 29%,
    rgba(237, 121, 83, 1) 42%,
    rgba(237, 98, 83, 1) 57%,
    rgba(175, 83, 237, 1) 71%,
    rgba(11, 245, 2, 1) 88%
  ); */
}
.coreLayout_container > main {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  align-items: stretch;

  overflow-y: auto;
}

.headerButton {
  background: var(--heading-button-color);
  color: black;
  border: none;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.headerButton:hover {
  background: var(--heading-button-color_hover);
  box-shadow: 0 0 0 0.3rem black;
}

.buttonIconContainer {
  display: inline-flex;
  width: 1.7rem;
  height: 1.7rem;
}
.buttonTextContainer {
  display: inline-flex;
  height: 2rem;
  margin-left: 0.5rem;
}
